@model Persol_HMS.Models.ViewModels.AdminDashboardViewModel

<partial name="Navbar" />

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right">
		<div class="p-3 form-card" autocomplete="off">
			<h2 id="title">
				<p>
					Admin Dashboard
				</p>
			</h2>
			<hr>
		</div>
    </div>
</div>


<partial name="FooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}