@model User

<partial name="Navbar" />

<div class="grid">
    <div class="left">
        <a class="left-content" href="Identity/Account/Login">
            <button type="button" class="btn btn-primary w-100">Login Page</button>
        </a>
    </div>

    <div class="right">
    <h2 class="text-center">Edit User</h2>
    <hr />
    <div class="row">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" disabled />
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="my-3">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" class="form-control" autocomplete="middlename" aria-required="true" />
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="my-3">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" aria-required="true" />
            </div>
            <label>Department</label>
            <div class="form-floating my-2">
                <select asp-for="DepartmentId" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Select Department</option>
                    <option value="1">Records</option>
                    <option value="2">Nursing</option>
                    <option value="3">Doctor</option>
                    <option value="4">Lab</option>
                    <option value="5">Admin</option>
                </select>
            </div>
            <div class="my-3">
                <label asp-for="Status"></label>
                <input asp-for="Status" class="form-control" type="text" aria-required="true" />
            </div>
            <div class="my-3">
                <label asp-for="LockEnd"></label>
                <input asp-for="LockEnd" class="form-control" type="date" aria-required="true" />
            </div>
            
        </form>
    </div>
</div>
