@model Persol_HMS.Models.ViewModels.LabsViewModel

<partial name="Navbar" />

@if (TempData.ContainsKey("L_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["L_ConfirmationMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("L_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["L_WarningMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right" style="display:grid;grid-template-columns:repeat(1,1fr);gap:20px;">
        <form class="p-3 form-card" style="margin-bottom: 0;" asp-controller="Staff" asp-action="PatientLab" autocomplete="off">
            <h2 class="text-center">Lab for Patient: @($"{Model.patient.FirstName} {Model.patient.LastName}")</h2>
            <hr>
            <div class="grid_3">
            @for (int i = 0; i < Model.Labs.Count; i++)
            {
                <div class="container text-center lab-fields">
                    <div class="row1 mb-2">
                        <div class="col">
                            <div>
                                <h5>
                                    @Model.Labs[i].LabName
                                </h5>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <textarea asp-for="Labs[i].Result" style="height: 130px" class="mb-3 form-control" placeholder="Lab Result"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <textarea asp-for="Labs[i].Notes" style="height: 130px" class="mt-3 form-control" placeholder="Lab Notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <input asp-for="patient.PatientNo" hidden />
                    <input asp-for="Labs[i].LabName" hidden />
                </div>
            }
            </div>
            <div class="modal-footer">
                <button type="submit" class="auth-button">Save</button>
            </div>
        </form>
		<div style="display:grid;grid-template-columns:repeat(3, 1fr)">
			<div class="form-card" style="margin-top: 0;padding-top:10px;background-color:rgba(220,225,220,.4)">
				<h2 class="text-center fs-3">Patients remaining</h2>
				<hr>
				<p class="fs-5 px-3">There are <u>20</u> more including this patient</p>
			</div>
		</div>
    </div>
</div>

<partial name="FooterPartial" />


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}