@model Persol_HMS.Models.Vital

<partial name="Navbar" />


@if (TempData.ContainsKey("N_ConfirmationMessage"))
{
    <div class="alert alert-success">
        @TempData["N_ConfirmationMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("N_WarningMessage"))
{
    <div class="alert alert-danger">
        @TempData["N_WarningMessage"]
        <button type="button" style="position:absolute;right: 0" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
    </div>
}

<div class="grid">
    <partial name="SidebarPartial" />
    <div class="right" style="display:grid;grid-template-columns:repeat(5, 1fr);gap:20px">
			<form class="p-3 form-card" style="grid-column:2/5" asp-controller="Staff" asp-action="Nurse" autocomplete="off">
				<h2 id="title" class="text-center">@ViewBag.Name's Vitals</h2>
            	<hr>
				<div class="forNewPatient">
					<div class="mb-3">
						<label asp-for="Temperature" class="form-label">Temperature (°C)</label>
						<input asp-for="Temperature" value="" type="number" class="form-control" id="temperature" required>
					</div>
					<div class="mb-3">
						<label asp-for="Height" class="form-label">Height (cm)</label>
						<input asp-for="Height" value="" type="number" class="form-control" required>
					</div>
					<div class="mb-3">
						<label asp-for="Weight" class="form-label">Weight (kg)</label>
						<input asp-for="Weight" value="" type="number" class="form-control" required>
					</div>
					<div class="mb-3">
						<label asp-for="BloodPressure" class="form-label">Blood Pressure (mmHg)</label>
						<input asp-for="BloodPressure" value="" type="text" class="form-control" required>
					</div>
				</div>
				<input asp-for="PatientNo" type="hidden" />
				<button type="submit" class="table-button">Submit</button>
			</form>
    </div>
</div>

<a class="my-3" asp-action="NurseQueue" asp-controller="Staff">Go to Nurse Queue</a>


<partial name="FooterPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}